/*ICONOS DE LAS TECNOLOGIAS*/
.tech-item {
  width: 60px;
  height: 60px;
  transition: transform 0.3s ease, filter 0.3s ease;
  cursor: pointer;
}

.tech-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.tech-item:hover {
  transform: scale(1.3);
}

.tech-item:hover img {
  filter: grayscale(0%);
}

/*ICONOS DE LAS REDES*/
.red-item {
  width: 60px;
  height: 60px;
  transition: transform 0.3s ease, filter 0.3s ease;
  cursor: pointer;
}

.red-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.red-item:hover {
  transform: scale(1.3);
}

.red-item:hover img {
  filter: grayscale(0%);
}